<form method="post" action="{{ path('app_livreur_delete', {'idLivr': livreur.idLivr}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livreur.idLivr) }}">
    <button class="btn">Delete</button>
</form>
