{% extends 'basefront.html.twig' %}

{% block title %}Edit Echange{% endblock %}

{% block body %}
    <h1>Edit Echange</h1>

    {{ include('echange/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_echange_front') }}">back to list</a>

    {{ include('echange/_deleteF_form.html.twig') }}
{% endblock %}
