{% extends 'frontE.html.twig' %}

{% block title %}New Participation{% endblock %}

{% block body %}
<br></br>
    <h2>Veuillez remplir les champs pour participer</h2>
    <br></br>

    {{ include('participation/_form.html.twig') }}

    <a href="{{ path('app_evenement_indexFront') }}" class="btn btn-info rounded-pill m-2" ><i class="fa fa-arrow-left" ></i>>back to list</a>
{% endblock %}
