{% extends 'back.html.twig' %}

{% block title %}Edit Livreur{% endblock %}

{% block body %}
    <a href="{{ path('app_livreur_index') }}"class="btn btn-info rounded-pill m-2" ><i class="fa fa-arrow-left" ></i></a>

    <h1>Edit Livreur</h1>
    
    {{ include('livreur/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('livreur/_delete_form.html.twig') }}
{% endblock %}
