<html>
<head>
<title>My Email Design</title>
</head>
<body>
<p>Votre Livraison est confirmée vouz etes le bienvenue </p> 



<p>Contacts :

*Syrine Tekaya, Trésorier :26892848

* Ala chebil R.Events : 23781138

* Khalil ben mzaker , Vice président : 54605056

Follow us on Instagram 
</p>
</body>
<html>